<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/style.min.css">
	<!-- <link rel="icon" href="imgages/favicon.ico" type="image/x-icon"> -->
</head>

<body>
	<div class="wrapper">
		@@include('_header.html')

		<main class="main">

			<div class="page-cart _container">
	
				<div class="page-cart__body">
					<div class="page-cart__content">
	
						<div class="page-cart__header">
							<div class="page-cart__count">Cart (8 items)</div>
						</div>
						<ul class="page-cart__list">
	
							<li class="page-cart__item item-cart">
								<div class="item-cart__image">
										<img src='images/products/01.jpg' alt='#'>
								</div>
								<a href="#" class="item-cart__title">Handmade Stainless Steel Massive Wolf Chain with Odin’s Protection Charm - 50cm / 20in</a>
								<div class="item-cart__price">$19.95<span>$29.95</span></div>
								<div class="item-cart__counter counter-item">
									<div class="counter-item__down">-</div>
									<div class="counter-item__number">1</div>
									<div class="counter-item__up">+</div>
								</div>
							</li>
							<li class="page-cart__item item-cart">
								<div class="item-cart__image">
										<img src='images/products/01.jpg' alt='#'>
								</div>
								<a href="#" class="item-cart__title">Handmade Stainless Steel Massive Wolf Chain with Odin’s Protection Charm - 50cm / 20in</a>
								<div class="item-cart__price">$19.95<span>$29.95</span></div>
								<div class="item-cart__counter counter-item">
									<div class="counter-item__down">-</div>
									<div class="counter-item__number">1</div>
									<div class="counter-item__up">+</div>
								</div>
							</li>

	
						</ul>

						<div class="page-cart__footer">
							<div class="page-cart__subtotal">Subtotal</div>
							<div class="page-cart__subtotal-amount">$144.95</div>
							<button class="page-cart__button-proceed _btn _btn_primary">Proceed to checkout</button>
						</div>
	
					</div>
				</div>
			</div>

		</main>

		<!-- @@include('_footer.html') -->
	</div>
	<script src="js/product-slider.js"></script>
	<script src="js/script.min.js"></script>
</body>

</html>