<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/style.min.css">
	<!-- <link rel="icon" href="imgages/favicon.ico" type="image/x-icon"> -->
</head>
 
<body>
	<div class="wrapper">
		@@include('_header.html')

		<main class="main">

			<div class="first-screen">
				<picture>
					<source srcset='images/bg_main.webp' type='image/webp'>
					<img class="first-screen__image" src='images/bg_main.jpg' alt='Fenrir The Monster Wolf of Norse Mythology Necklace'>
				</picture>
				<a href="product.html" class="first-screen__title">Fenrir The Monster Wolf of Norse Mythology Necklace</a>
				<div class="first-screen__price">$19.95<span>$29.95</span></div>
				<a href="product.html" class="first-screen__button _btn _btn_primary">Start Shopping</a>
			</div>

		</main>

		<!-- @@include('_footer.html') -->
	</div>
	<script src="js/script.min.js"></script>
</body>

</html>