<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/style.min.css">
	<!-- <link rel="icon" href="imgages/favicon.ico" type="image/x-icon"> -->
</head>

<body>
	<div class="wrapper">
		@@include('_header.html')

		<main class="main">

			<div class="product">
				<div class="product__container _container">

					<div class="product__gallary gallary-product">

						<div class="gallary-product__slider product-slider">
							<div class="swiper-container product-slider__container">
								<div class="swiper-wrapper">

									<div class="swiper-slide product-slider__slide">
										<img src="images/products/01.jpg" />
									</div>
									<div class="swiper-slide product-slider__slide">
										<img src="images/products/02.jpg" />
									</div>
									<div class="swiper-slide product-slider__slide">
										<img src="images/products/03.jpg" />
									</div>

								</div>
							</div>
							<div class="product-slider__button-next swiper-button-next">
								<svg width="18" height="10" fill="none">
									<path d="M5.25 6.188l.75.75 6-6.063-.75-.75L6 5.438.75.188 0 .938l3 3 2.25 2.25z" fill="#fff"/>
								</svg>
							</div>
							<div class="product-slider__button-prev swiper-button-prev">
								<svg width="18" height="10" fill="none">
									<path d="M5.25 6.188l.75.75 6-6.063-.75-.75L6 5.438.75.188 0 .938l3 3 2.25 2.25z" fill="#fff"/>
								</svg>
							</div>
						</div>

						<div class="gallary-product__thumbs thumbs-slider">
							<div class="swiper-container thumbs-slider__container">
								<div class="swiper-wrapper">

									<div class="swiper-slide thumbs-slider__slide">
										<img src="images/products/01.jpg" />
									</div>
									<div class="swiper-slide thumbs-slider__slide">
										<img src="images/products/02.jpg" />
									</div>
									<div class="swiper-slide thumbs-slider__slide">
										<img src="images/products/03.jpg" />
									</div>

								</div>
							</div>
						</div>

					</div>

					<div class="product__body">
						<h1 class="product__title">Handmade Stainless Steel Kings Chain Viking Geri And Freki Mjolnir Necklace</h1>
						<form action="#" class="product__form form-product">
							<div class="form-product__select-label">Choose your length</div>
							<select class="form-product__select">
								<option value="60">60 CM (24 INCHES)</option>
								<option value="30">30 CM (12 INCHES)</option>
								<option value="15">15 CM (6 INCHES)</option>
							</select>
							
							<div class="form-product__price">$19.95
								<span class="form-product__price-label">Tax included</span>
							</div>
							<div class="form-product__row">
								<div class="form-product__counter counter-item">
									<div class="counter-item__down">-</div>
									<div class="counter-item__number">1</div>
									<div class="counter-item__up">+</div>
								</div>
								<button class="form-product__button _btn _btn_primary">Add To Cart</button>
							</div>
						</form>

						<div class="product__description">
							<p>	Handmade Chain Geri and Freki Viking Necklace with Thor Hammer Mjolnir</p>
							<p>The Kings chain was worn by Viking kings as a status symbol as the name applies. This is a 100% handmade Stainless Steel Chain. The crafting is a very time consuming process to put together the chain link by link. The hand made chain connects together with a lobster clamp.</p>
						</div>
					</div>

				</div>
			</div>

		</main>

		<!-- @@include('_footer.html') -->
	</div>
	<script src="js/product-slider.js"></script>
	<script src="js/script.min.js"></script>
</body>

</html>