$black: #202020;
$white: #fff;
$gray: #b4b4b4;
$accent: #cc0000;

@import "reset";
@import "fonts";
@import "swiper";

$maxWidth: 1366;
$maxWidthContainer: 1184;
// @include adaptiv-value("font-size", 30, 20, 2);	line-height: 1.67;
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type == 1 {
		//Изменяется если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type == 2 {
		//Изменяется если больше контейнера
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else {
		//Изменяется всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

//--------------------------------------------------------------------------------------------------------
body {
	font-family: "Mulish";
	color: $black;
	font-weight: 400;

	&._lock {
		overflow: hidden;
	}
}
.wrapper {
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
//--------------------------------------------------------------------------------------------------------
._container {
	max-width: 1184px;
	margin: 0 auto;
	padding: 0 20px;
}
._btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding: 0 17px;
	min-height: 48px;

	border-radius: 4px;
	&_primary {
		color: $white;
		background: $accent;
		border: 1px solid #950000;
		box-shadow: inset 0px -2px 2px rgba(32, 32, 32, 0.33);
	}

	&_secondary {
		color: $black;
		background: $white;
		border: 1px solid $black;
	}
}
//--------------------------------------------------------------------------------------------------------
.header {
	background-color: $white;
	min-height: 80px;
	display: flex;
	align-items: center;
	@media (max-width: 414px) {
		min-height: 72px;
	}
	// .header__container
	&__container {
		flex: 1 1 auto;

		display: grid;
		grid-template-columns: max-content 1fr max-content;
		@media (max-width: 900px) {
			grid-template-columns: max-content max-content max-content;
		}
		align-items: center;
		justify-content: space-between;
	}
	// .header__logo
	&__logo {
		max-width: 271px;
		height: auto;
		img {
			max-width: 100%;
		}
		@media (max-width: 414px) {
			max-width: 170px;
		}
	}
	// .header__cart
	&__cart {
	}
	// .header__menu
	&__menu {
		justify-self: end;
		@media (max-width: 900px) {
			order: -1;
		}
	}
}
.menu {
	display: flex;
	align-items: center;
	$burger-appearance: 900px;

	// .menu__list
	&__list {
		display: grid;

		@media (min-width: $burger-appearance) {
			grid-auto-columns: max-content;
			grid-auto-flow: column;
			column-gap: 32px;
			align-items: center;
		}

		@media (max-width: $burger-appearance) {
			&:before {
				content: "";
				position: fixed;
				background-color: #131824;
				z-index: 10;
				top: 0;
				left: -100%;
				width: 100%;
				height: 80px;
				visibility: hidden;
				transition-duration: 0.25s;
				&_open {
					visibility: visible;
					left: 0;
				}
			}

			grid-auto-rows: min-content;
			background-color: #131824;

			padding: 80px 20px;
			position: fixed;
			width: 100%;
			height: 100%;
			z-index: 9;

			visibility: hidden;
			top: 0;
			left: -100%;

			overflow: auto;
			transition-duration: 0.25s;
			&_open {
				visibility: visible;
				left: 0;
			}
		}
	}
	// .menu__item
	&__item {
		@media (max-width: $burger-appearance) {
			margin-bottom: 17px;
			padding-bottom: 13px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		}
	}
	// .menu__link
	&__link {
		color: #000;
		font-family: "Mulish";
		font-size: 21px;
		font-weight: bold;
		@media (max-width: $burger-appearance) {
			color: #fff;
			font-size: 21px;
		}
	} // .menu__link_accent
	a.menu__link.menu__link_accent {
		color: $accent;
		text-transform: uppercase;
	}
	// .menu__button
	&__button {
		$button-color: $black;
		background-color: transparent;
		cursor: pointer;
		@media (max-width: $burger-appearance) {
			width: 32px;
			height: 32px;
			z-index: 11;
			span {
				display: block;
				position: relative;
				width: 25px;
				height: 1px;
				background-color: $button-color;
				transition-duration: 0.25s;
				&::before,
				&::after {
					content: "";
					display: block;
					position: absolute;
					width: 32px;
					height: 1px;
					background-color: $button-color;
					transition-duration: 0.25s;
				}
				&::before {
					top: -7px;
				}
				&::after {
					top: 7px;
				}
			}
			&_open {
				span {
					background-color: $white;
					transform: rotate(45deg);
					&::before {
						background-color: $white;
						top: 0;
						transform: rotate(0);
					}
					&::after {
						background-color: $white;
						top: 0;
						transform: rotate(90deg);
					}
				}
			}
		}
	}
	// .menu__search-form
	&__search {
		@media (max-width: 900px) {
			order: -1;
		}
	}
}

.cart {
	// .cart__open-button
	&__open-button {
		width: 24px;
		height: 24px;
		position: relative;
	} // .cart__label
	&__label {
		position: absolute;
		right: -8px;
		top: -8px;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 16px;
		height: 16px;
		border-radius: 50%;

		font-size: 9px;
		color: $white;
		background-color: $accent;
	}
	// .cart__body
	&__body {
		position: fixed;
		width: 100%;
		height: 100%;
		background: #131824cc;
		box-shadow: -30px 0px 50px 0px rgba(0, 0, 0, 0.7);

		visibility: hidden;
		top: 0;
		right: -100%;
		z-index: 12;

		transition-duration: 0.25s;
		&._open {
			visibility: visible;
			right: 0;
		}
	}
	// .cart__content
	&__content {
		max-height: 100vh;
		display: grid;
		grid-template: 53px 1fr 100px / 1fr;

		background-color: $white;

		max-width: 360px;
		padding: 18px 15px 15px 15px;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;

		overflow: auto;
	}
	// .cart__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .cart__count
	&__count {
		font-weight: bold;
		font-size: 13px;
		text-transform: uppercase;
		color: $gray;
	}
	// .cart__close-button
	&__close-button {
		width: 24px;
		height: 24px;
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 11px;
			right: -4px;
			display: block;
			width: 32px;
			height: 1px;
			background-color: $black;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
	}
	// .cart__list
	&__list {
		padding-right: 24px;
		overflow-y: auto;
	}
	// .cart__item
	&__item {
	}
	// .cart__footer
	&__footer {
		display: grid;
		grid-template: 1fr 1fr / max-content 1fr;
		justify-content: space-between;
		gap: 12px 15px;

		padding: 19px 19px 15px 19px;
		font-weight: bold;
		font-size: 16px;
		color: $black;
	}
	// .cart__subtotal
	&__subtotal {
	}
	// .cart__subtotal-amount
	&__subtotal-amount {
		justify-self: end;
	}
	// .cart__button-view
	&__button-view {
	}
	// .cart__button-proceed
	&__button-proceed {
	}
}
.item-cart {
	display: grid;
	grid-template: repeat(3, max-content) / max-content 1fr;
	gap: 16px;
	margin-bottom: 24px;
	// .item-cart__image
	&__image {
		grid-row: span 3;
		width: 64px;
		height: 64px;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	// .item-cart__title
	&__title {
		margin-top: 8px;
		font-weight: bold;
		font-size: 13px;
		line-height: 20px;

		color: $black;
	}
	// .item-cart__price
	&__price {
		font-weight: bold;
		font-size: 13px;

		color: $accent;
		span {
			display: inline-block;
			margin-left: 19px;
			color: $gray;
			text-decoration: line-through;
		}
	}
	// .item-cart__counter
	&__counter {
	}
}
.counter-item {
	display: grid;

	grid-template: 32px / 32px 61px 32px;
	// .counter-item-cart__down
	&__down {
		display: flex;
		justify-content: center;
		align-items: center;

		font-weight: bold;
		font-size: 13px;
		border: 1px solid #d8d8d8;
		box-sizing: border-box;
		// box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.13);
		border-radius: 4px 0px 0px 4px;
	}
	// .counter-item-cart__number
	&__number {
		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 13px;
		border-top: 1px solid #d8d8d8;
		border-bottom: 1px solid #d8d8d8;
		box-sizing: border-box;
		// box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.13);
	}
	// .counter-item-cart__up
	&__up {
		display: flex;
		justify-content: center;
		align-items: center;

		font-weight: bold;
		font-size: 13px;
		border: 1px solid #d8d8d8;
		box-sizing: border-box;
		// box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.13);
		border-radius: 0px 4px 4px 0px;
	}
}

.search-form {
	display: grid;
	justify-content: space-between;
	grid-template: 1fr / 1fr max-content;
	column-gap: 15px;
	// .search-form__input
	&__input {
		font-size: 16px;
		line-height: 20px;
		padding: 0 4px;

		color: #ffffff;
		background-color: transparent;

		opacity: 0.33;
		@media (min-width: 900px) {
			display: none;
		}
		&:focus {
			opacity: 1;
		}
	}
	// .search-form__button
	&__button {
		background-color: transparent;
		width: 24px;
		height: 24px;
		path {
			fill: $black;
			@media (max-width: 992px) {
				fill: $white;
				opacity: 0.33;
			}
		}
	}
}
//--------------------------------------------------------------------------------------------------------
.first-screen {
	position: relative;
	min-height: calc(100vh - 80px);

	display: grid;
	grid-template: 1fr max-content max-content / 1fr;
	justify-items: center;
	align-items: end;

	@media (max-width: 414px) {
		min-height: calc(100vh - 72px);
	}
	// .first-screen__image
	&__image {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	// .first-screen__title
	&__title {
		align-self: end;

		font-family: "Goudy Bookletter 1911";
		font-size: 32px;
		line-height: 138%;
		text-align: center;

		max-width: 560px;
		padding: 0 10px;
		margin-bottom: 24px;

		color: $white;
	}
	// .first-screen__price
	&__price {
		font-size: 16px;
		text-align: center;
		color: $white;
		margin-bottom: 33px;
		span {
			display: inline-block;
			color: $gray;
			text-decoration-line: line-through;
			margin-left: 17px;
		}
	}
	// .first-screen__button
	&__button {
		margin-bottom: 72px;
		padding: 0 24px;
	}
}
//--------------------------------------------------------------------------------------------------------
.product {
	// .product__container
	&__container {
		@media (min-width: 900px) {
			display: grid;
			// grid-template-columns: 58.333% 41.667%;
			grid-template-columns: 0.58fr 0.42fr;
			column-gap: 20px;
		}
	}
	// .product__gallary
	&__gallary {
	}
	// .product__body
	&__body {
	}
	// .product__title
	&__title {
		font-family: "Goudy Bookletter 1911";
		margin-bottom: 40px;
		font-size: 32px;
		line-height: 138%;
		@media (max-width: 414px) {
			font-size: 21px;
		}
	}
	// .product__form
	&__form {
		margin-bottom: 46px;
		@media (max-width: 414px) {
			margin-bottom: 58px;
		}
	}
	// .product__description
	&__description {
		font-size: 16px;
		line-height: 125%;
		color: $black;
		@media (max-width: 414px) {
			line-height: 150%;
		}
		p{
			margin-bottom: 12px;
		}
	}
}
.form-product {
	column-gap: 15px;
	// .form-product__select-label
	&__select-label {
		font-weight: bold;
		font-size: 21px;
		margin-bottom: 8px;
		@media (max-width: 414px) {
			margin-bottom: 16px;
			font-size: 16px;
		}
	}
	// .form-product__select
	&__select {
		display: block;
		margin-bottom: 18px;
		border: 1px solid #d8d8d8;
		box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.13);
		border-radius: 4px;
		padding: 16px 12px;
		width: 100%;
		max-width: 293px;
		background: none;
		appearance: none;
		position: relative;
		font-family: "Mulish";
		font-size: 12px;
		text-transform: uppercase;
		background: url("../images/icons/icon-arrow-down.svg") center right 20px / 12px 6px no-repeat;

		@media (max-width: 414px) {
			margin-bottom: 54px;
		}
	}
	// .form-product__price
	&__price {
		margin-bottom: 34px;
		font-weight: bold;
		font-size: 36px;
		color: $accent;

		display: inline-block;
		position: relative;
		@media (max-width: 414px) {
			font-size: 24px;
		}
	}
	// .form-product__price-label
	&__price-label {
		position: absolute;
		top: 6px;
		right: -90px;
		font-weight: normal;
		font-size: 13px;
		color: $black;
	}
	// .form-product__row
	&__row {
		display: grid;
		grid-template: 1fr / 150px minmax(110px, 260px);
		column-gap: 14px;
	}
	// .form-product__counter
	&__counter {
		grid-template: minmax(48px, 1fr) / 44px 63px 44px;
	}
	// .form-product__button
	&__button {
	}
}

.gallary-product {
	// .gallary-product__slider
	&__slider {
	}
	// .gallary-product__thumbs
	&__thumbs {
	}
}
.product-slider {
	position: relative;
	padding-bottom: 524px;

	@media (max-width: 900px) {
		padding-bottom: 326px;
	}
	// .product-slider__container
	&__container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	// .product-slider__slide
	&__slide {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	// .product-slider__button-next
	&__button-next,
	&__button-prev {
		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;
		z-index: 2;
		top: 0;
		width: 42px;
		height: 100%;
		background: rgba(32, 32, 32, 0.3);
		@media (max-width: 414px) {
			width: 30px;
		}
	}
	& .swiper-button-disabled {
		opacity: 0;
	}
	&__button-next {
		right: 0;
		svg {
			transform: rotate(-90deg);
		}
	}
	// .product-slider__button-prev
	&__button-prev {
		left: 0;
		svg {
			transform: rotate(90deg);
		}
	}
}

.thumbs-slider {
	padding: 16px 0;
	// .thumbs-slider__container
	&__container {
	}
	// .thumbs-slider__slide
	&__slide {
		width: 64px;
		height: 64px;
		opacity: 0.5;
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	& .swiper-slide-thumb-active {
		opacity: 1;
	}
}
